version: '3.4'

services:
  logspout:
    image: sergebooker/logspout-gelf:1.0.0
    labels:
      - "logspout.exclude=true"
    environment:
      COMPRESS_TYPE: "none"
      COMPRESS_LEVEL: "0"
      EXCLUDE_LABEL: "logspout.exclude"
      EXTRA_JSON: "{\"env\":\"environment\"}"
    hostname: some.host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: multiline+gelf://host.docker.internal:4001
    restart: unless-stopped